.example-card {
    max-width: 400px;
    margin-left: 75px;
    margin-top: 30px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.fw-bold{
  margin-top: 20px;
  margin-left: 70px;
}
